{% extends 'mailout/base.html' %}

{% block title %}Mailout{% endblock %}

{% block content %}

{% include 'mailout/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailout</h1>
    <p class="lead">Mailout - это сервис по управлению Вашими рассылками</p>
</div>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
{% if user.is_authenticated %}
    <h5>Количество попыток рассылки:</h5>
    <div class="progress" role="progressbar" aria-label="total_emails" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 100%">{{ total_emails }}</div>
    </div>
    <h5>Количество успешных рассылок:</h5>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: {{ percent_success }}% ">{{ mailing_success }}</div>
    </div>
    <h5>Количество неуспешных рассылок:</h5>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: {{ percent_fail }}%">{{ mailing_fail }}</div>
    </div>
{% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    {% if object %}
                    <div class="card-header">
                        <h4 class="card-title pricing-card-title text-start">{{ attempt.mailout }}</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                            <li>Запущена: {{ attempt.emailed_at }}</li>
                            <li>Состояние: {{ attempt.status }}</li>
                            <li>Ответ сервера: {{ attempt.server_message }}</li>
                        </ul>
                    </div>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Список попыток рассылок</h4>
                    <table class="table table-striped">
                        {% for attempt in attempts %}
                        {% if user == attempt.owner %}
                        <tr>
                            <td class="w-25">{{ attempt.mailout }}</td>
                            <td>{{ attempt.emailed_at }}</td>
                            <td>{{ attempt.status }}</td>
                            <td>{{ attempt.server_message }}</td>
                            <td><p><a class="link-primary" href="{% url 'mailout:attempt_detail' attempt.pk %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                  <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                  <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                </svg>
                            </a></p></td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% if object %}
                    <h4 class="my-0 font-weight-normal">Изменить рассылку</h4>
                    {% else %}
                    <h4 class="my-0 font-weight-normal">Попытка рассылки</h4>
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if object %}
                    <form method="post" enctype="multipart/form-data" class="form-floating" action="{% url 'mailout:attempt_update' mailout.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="p-2 btn btn-outline-primary">Сохранить</button>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailout:attempt' %}">Отмена</a>
                    </form>
                    {% else %}
                    <form method="post" enctype="multipart/form-data" class="form-floating" action="{% url 'mailout:attempt_create' %}">
                        {% csrf_token %}
                        {{ form.as_p }}

                        <button type="submit" class="p-2 btn btn-outline-primary">Сохранить</button>
                        <a class="p-2 btn btn-outline-primary" href="{% url 'mailout:attempt' %}">Отмена</a>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}