{% extends 'mailout/base.html' %}

{% block title %}Mailout{% endblock %}

{% block content %}

{% include 'mailout/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailout</h1>
    <p class="lead">Mailout - это сервис по управлению Вашими рассылками</p>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <h4 class="my-0 font-weight-normal">Список клиентов</h4>
                    <table class="table table-striped">
                        {% for client in clients %}
                        <tr>
                            <td class="w-25">{{ client.email }}</td>
                            <td>{{ client.full_name }}</td>
                            <td>{{ client.notes|truncatechars:100 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавить нового клиента</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email">Email:</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="full_name">Ф.И.О:</label>
                            <input type="text" name="full_name" class="form-control" id="full_name" placeholder="Фамилия Имя Отчество" required>
                        </div>
                        <div class="mb-3">
                            <label for="notes">Комментарий:</label>
                            <textarea name="notes" class="form-control" id="notes" placeholder="Комментарий"></textarea>
                        </div>
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                        <a class="p-2 btn btn-outline-primary" href="/clients/create/">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}