{% extends 'mailout/base.html' %}

{% block title %}Mailout{% endblock %}

{% block content %}

{% include 'mailout/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailout</h1>
    <p class="lead">Mailout - это сервис по управлению Вашими рассылками</p>
</div>

<div class="container">
    <div class="row text-start row-cols-1 row-cols-md-3 g-4 mx-5">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Количество всех рассылок:</td>
                            <td>{{ mailing }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Количество активных рассылок:</td>
                            <td>{{ mailing_active }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Количество уникальных получателей:</td>
                            <td>{{ clients }}</td>
                        </tr>
                    </table>
    </div>

    {% if user.is_authenticated and user.is_blocked == False%}
    <h5>Количество Ваших рассылок:</h5>
    <div class="progress" role="progressbar" aria-label="total_emails" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: 100%">{{ total_emails }}</div>
    </div>
    <h5>Количество успешных попыток рассылки:</h5>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: {{ percent_success }}% ">{{ mailing_success }}</div>
    </div>
    <h5>Количество неуспешных попыток рассылки:</h5>
        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar" style="width: {{ percent_fail }}%">{{ mailing_fail }}</div>
    </div>
    {% endif %}

{% endblock %}
