{% extends 'mailout/base.html' %}

{% block title %}Mailout{% endblock %}

{% block content %}

{% include 'mailout/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailout</h1>
    <p class="lead">Mailout - это сервис по управлению Вашими рассылками</p>
</div>

<div class="container">
    <div class="row text-start row-cols-1 row-cols-md-3 g-4 mx-5">
                    <table class="table table-striped">
                        <tr>
                            <td class="w-25">Количество всех рассылок:</td>
                            <td>{{ home.total_mailout }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Количество активных рассылок:</td>
                            <td>{{ home.total_active }}</td>
                        </tr>
                        <tr>
                            <td class="w-25">Количество уникальных получателей:</td>
                            <td>{{ home.total_users }}</td>
                        </tr>
                    </table>
    </div>

{% endblock %}
