{% extends 'mailout/base.html' %}

{% block title %}Mailout{% endblock %}

{% block content %}

{% include 'mailout/header.html' %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Mailout</h1>
</div>

<div class="container">
    <div class="row text-start">
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Восстановить пароль</h4>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="form-floating" action="{% url 'users:password_change' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-lg btn-block btn-outline-primary mt-3">
                            Восстановить
                        </button>
                        <a type="button" class="btn btn-lg btn-block btn-outline-primary mt-3" href="{% url 'users:login'%}" >Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}